@charset "utf-8";

/* font-family: 'MuseumClassic'; 
    font-family: "Hahmlet", serif;
  font-family: "Kaisei Decol", serif;

*/

* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-width: 1450px;
    font-family: "Hahmlet", serif;
    font-size: 14px;
    line-height: 1.5;
    color: #484248;
    background: url(../image/paper_bg.png);
    position: relative;
}

/*header*/
header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.nav {
    width: 600px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    width: 23%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
}

.nav>li>a {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    transition: all 0.3s;
    position: relative;
}

.nav>li>a>img {
    position: absolute;
    bottom: -13px;
    left: -15px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}

.nav>li.gnb_on>a,
.nav>li:hover>a {
    opacity: 0.7;
}

.nav>li.gnb_on>a>img,
.nav>li:hover>a>img {
    opacity: 1;
}

li.logo {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main_logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.login>li {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.userLang {
    position: relative;
    width: 100px;
    text-align: center;
    color: #484248;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-family: "Hahmlet", serif;
    font-size: 16px;
    font-weight: 500;
    color: #484248;
}

.down {
    padding-right: 10px;
    transition: all 0.5s;
}

.up {
    transform: scaleY(-1);
}


.optionList {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    background: #89143b;
    color: #f9e6d0;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    display: none;
}

.userLang.active .optionList {
    max-height: 500px;
}

.optionItem a {
    display: block;
    border-bottom: 1px dashed #f9e6d0;
    padding: 5px 15px 5px;
    transition: .1s;
}

.optionItem:hover a {
    background: rgb(175, 93, 93);
}

.userLang .optionItem:last-child a {
    border-bottom: 0 none;
    font-family: "Kaisei Decol", serif;
}

.on {
    width: 100%;
    background-color: rgba(255, 243, 232, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.on>.login {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

/*top_title*/
#top_title {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#top_title img {
    position: absolute;
}

.menu_bg1 {
    position: absolute;
    top: -30px;
    left: 17%;
}

.menu_bg2 {
    top: 15px;
    right: -50px;
}

.menu_bg3 {
    top: 70px;
    left: 41%;
    z-index: -1;
}

.menu_bg4 {
    top: 150px;
    right: 39.5%;
    z-index: -1;
}

.menu_bg5 {
    position: absolute;
    top: 275px;
    right: 18%;
    z-index: -1;
}

.menu_bg7 {
    position: absolute;
    top: 23%;
    left: 8%;
    animation: butterfly 3s linear infinite;
    rotate: 45deg;
}

.menu_bg8 {
    position: absolute;
    top: 45%;
    left: 4%;
    animation: butterfly 2s linear infinite;
    rotate: -10deg;
}

.menu_bg9 {
    position: absolute;
    top: 65%;
    left: -1%;
}

.menu_bg10 {
    position: absolute;
    top: 18%;
    right: 5%;
    animation: butterfly 5s linear infinite;
    rotate: -30deg;
}

.menu_bg11 {
    position: absolute;
    top: 30%;
    right: -1%;
}

.menu_bg12 {
    position: absolute;
    top: 34.5%;
    right: 3.5%;
    animation: peach 5s infinite;
}

@keyframes butterfly {
    0% {
        transform: scaleX(1);
    }

    25% {
        transform: scaleX(0.3);
    }

    50% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(0.3);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes peach {
    0% {
        rotate: 0;
    }

    10% {
        rotate: 10deg;
    }

    20% {
        rotate: -10deg;
    }

    30% {
        rotate: 10deg;
    }

    35% {
        rotate: 0;
    }

    55% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(1000px);
        opacity: 0;
    }
}

.title {
    margin: 0 auto;
    padding: 80px 0;
    font-size: 80px;
    font-weight: 700;
    color: #89143b;
}



#tab {
    background: url(../image/footer_wings3_bg.png) no-repeat bottom center;
    padding-bottom: 50px;
}


.tab_inner {
    width: 100%;
    letter-spacing: -0.05em;
}

.tab_filter {
    margin-left: 20px;
    display: flex;
    transition: all 0.5s;
}

.tab_filter li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 60px;
    font-size: 18px;
    color: #89143b;
    text-transform: uppercase;
    background-color: #dccdb4;
    border-radius: 20px 20px 0 0;
    transition: all 0.5s;
}

.tab_filter li a:hover {
    color: #f9e6d0;
    background-color: #89143b;
    transition: all 0.5s;
}

.tab_array li a.active {
    font-weight: 600;
    color: rgba(249, 230, 208, 1);
}


.tab_filter li a.active {
    width: 180px;
    font-size: 24px;
    font-weight: 600;
    color: #f9e6d0;
    background-color: #89143b;
    transition: all 0.5s;
}

.tab_array {
    display: flex;
    justify-content: flex-end;
    background-color: #89143b;
    color: rgba(249, 230, 208, 0.7);
}

.tab_array li {
    padding: 5px 10px;
}

.tab_container {
    width: 1320px;
    min-height: 1670px;
    margin: 10px auto;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}


.menu {
    width: 410px;
    padding: 25px 40px;
    margin: 15px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
}

.menu h1 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    padding: 0 10px;
    position: absolute;
    top: 45px;
    left: 45px;
    border-radius: 17px;
    z-index: 1;
    color: #fff3e8;
}

.new {
    border: 1px solid #ca4d41;
    background-color: #ca4d41;
}

.best {
    border: 1px solid #12395b;
    background-color: #12395b;
}

.menu::before {
    content: url(../image/menu_line_top.png);
    background: url(../image/menu_line_bottom.png) no-repeat bottom center;
    display: inline-block;
    height: 103%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.menu::after {
    content: url(../image/menu_vertical_line.png);
    background: url(../image/menu_vertical_line.png) no-repeat right center;
    display: inline-block;
    width: 102%;
    padding-top: 5px;
    position: absolute;
    top: 52%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    z-index: -1;
}

.img_box {
    padding: 50px 0;
    position: relative;
}

.img_box>img:first-child {
    height: 100%;
    filter: drop-shadow(3px 5px 3px rgba(92, 84, 75, 0.5));
}

.hover_img {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    opacity: 0;
    transition: all 0.5s;
}

.menu_text {
    letter-spacing: -0.05em;
    text-align: left;
}

.name_text {
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.exp_text {
    font-size: 16px;
    font-weight: 300;
    position: relative;
}

.exp {
    padding: 5px 0;
    transition: all 0.5s;
}

.amount {
    display: flex;
    justify-content: flex-start;
    padding: 5px 0;
    transition: all 0.5s;
}

.amount li {
    padding: 0 15px;
    height: 30px;
    box-sizing: border-box;
    border: 1px solid #484248;
    border-radius: 15px;
    text-align: center;
}

.amount li:first-child {
    margin-right: 30px;
}

.text_hover {
    width: 100%;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    transition: all 0.5s;
}

.text_hover li a {
    width: 150px;
    height: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
}

.wish {
    border: 1px solid #484248;
    padding: 5px 10px;
    box-sizing: border-box;
}

.wish:hover {
    border: 2px solid #484248;
}

.add {
    background-color: #89143b;
    color: #dccdb4;
}

.add:hover {
    background-color: rgb(137, 20, 59, 0.8);
}

.menu:hover .text_hover,
.menu:hover .hover_img {
    opacity: 1;
}

.menu:hover .exp,
.menu:hover .amount {
    opacity: 0;
}

.more_btn {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    width: 240px;
    height: 65px;
    background-color: #89143b;
    border-radius: 32.5px;
    font-size: 36px;
    color: #fff3e8;
    cursor: pointer;
}

.more_click {
    opacity: 0.3;
}























/*footer*/
#footer {
    background: url(../image/footer_bg2.png) no-repeat top left;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.005em;
    font-size: 16px;
}

.footer_left {
    display: flex;
    position: relative;
}

.footer_left h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.footer_left dl {
    text-align: center;
    padding: 20px 10px;
    padding-top: 100px;
}

.footer_left dl dt {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
}

.footer_left dl dd {
    padding: 5px;
}

.footer_right {
    display: flex;
    align-items: center;
}

.footer_right li {
    padding: 5px;
}

.footer_right li a:hover {
    text-decoration: underline;
}

/*top_btn*/
.top_btn a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dccdb4;
    border-radius: 10px;
    box-shadow: 0px 0px 12px#5c544b;
    position: fixed;
    right: 100px;
    bottom: 150px;
}