@charset "utf-8";

/* font-family: 'MuseumClassic'; 
    font-family: "Hahmlet", serif;
  font-family: "Kaisei Decol", serif;

*/

* {
    margin: 0;
    padding: 0;
}

img,
video,
iframe {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    min-width: 1450px;
    font-family: "Hahmlet", serif;
    font-size: 14px;
    line-height: 1.5;
    color: #484248;
    background: url(../image/paper_bg.png);
    position: relative;
}

/*header*/
header {
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
}

.nav {
    width: 600px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav li {
    width: 23%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    transition: all 0.3s;
}


.nav>li>a {
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 0.1em;
    transition: all 0.3s;
    position: relative;
}

.nav>li>a>img {
    position: absolute;
    bottom: -13px;
    left: -15px;
    z-index: -1;
    opacity: 0;
    transition: all 0.3s;
}

.nav>li.gnb_on>a,
.nav>li:hover>a {
    opacity: 0.7;
}

.nav>li.gnb_on>a>img,
.nav>li:hover>a>img {
    opacity: 1;
}



li.logo {
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main_logo {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.login>li {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.userLang {
    position: relative;
    width: 100px;
    text-align: center;
    color: #484248;
}

.label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    font-family: "Hahmlet", serif;
    font-size: 16px;
    font-weight: 500;
    color: #484248;
}

.down {
    padding-right: 10px;
    transition: all 0.5s;
}

.up {
    transform: scaleY(-1);
}


.optionList {
    position: absolute;
    top: 28px;
    left: 0;
    width: 100%;
    background: #89143b;
    color: #f9e6d0;
    font-size: 15px;
    font-weight: 400;
    list-style-type: none;
    padding: 0;
    border-radius: 6px;
    overflow: hidden;
    display: none;
}

.userLang.active .optionList {
    max-height: 500px;
}

.optionItem a {
    display: block;
    border-bottom: 1px dashed #f9e6d0;
    padding: 5px 15px 5px;
    transition: .1s;
}

.optionItem:hover a {
    background: rgb(175, 93, 93);
}

.userLang .optionItem:last-child a {
    border-bottom: 0 none;
    font-family: "Kaisei Decol", serif;
}

.on {
    width: 100%;
    background-color: rgba(255, 243, 232, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.on>.login {
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

body>img {
    z-index: -1;
}

.bg1 {
    position: absolute;
    top: 150px;
    right: 550px;
}

.bg2 {
    position: absolute;
    top: 250px;
    left: 500px;
    animation: move2 20s linear infinite;
}

.bg3 {
    position: absolute;
    top: 1580px;
    left: 250px;
}

.bg4 {
    position: absolute;
    top: 2030px;
    right: 0;
    z-index: -1;
}

.bg5 {
    position: absolute;
    top: 2900px;
    left: 60px;
}

.bg6 {
    width: 300px;
    position: absolute;
    top: 1735px;
    left: 190px;
    animation: move1 20s linear infinite;
}

.bg7 {
    width: 270px;
    position: absolute;
    top: 300px;
    right: 70px;
}

.bg8 {
    width: 100px;
    position: absolute;
    top: 300px;
    right: 300px;
}

.bg9 {
    position: absolute;
    top: 2800px;
    left: 150px;
}

.bg10 {
    width: 135px;
    position: absolute;
    top: 830px;
    right: 100px;
    rotate: 30deg;
}

.bg11 {
    position: absolute;
    top: 1800px;
    right: 180px;
    rotate: 35deg;
    animation: butterfly 3s linear infinite;
}

.bg12 {
    position: absolute;
    top: 600px;
    left: 100px;
    rotate: -30deg;
    animation: butterfly 5s linear infinite;
}

@keyframes butterfly {
    0% {
        transform: scaleX(1);
    }

    25% {
        transform: scaleX(0.3);
    }

    50% {
        transform: scaleX(1);
    }

    75% {
        transform: scaleX(0.3);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes move1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes move2 {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}


/*top_title*/
#top_title {
    width: 100%;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.top_title {
    margin: 0 auto;
    padding: 80px 0;
    font-size: 80px;
    font-weight: 700;
    color: #89143b;
    text-transform: uppercase;
}

/*new*/
#new {
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 100px;
}

#new>img {
    padding: 20px 0;
}

.frame2 {
    transform: scale(1, -1);
}

.new_upper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

.new_text {
    text-align: center;
    position: relative;

}

.title {
    font-size: 48px;
    color: #89143b;
    font-family: 'MuseumClassic';
    font-weight: normal;
    text-transform: uppercase;
}

.new_text h1 {
    position: absolute;
    top: 50px;
    left: 80px;
    z-index: 1;
}

.new_text>img {
    position: absolute;
    top: 75px;
    left: 190px;
}

.new_text p {
    font-size: 28px;
    padding-top: 180px;
}

.new_text h2 {
    font-size: 32px;
    color: #89143b;
    padding: 30px 0;
}

.new_banner {
    display: flex;
    justify-content: space-between;
}

.new_banner img {
    padding: 10px 30px;
}

.banner1 {
    width: 215px;
    height: 315px;
    filter: drop-shadow(5px 5px 10px rgba(92, 84, 75, 0.7));
}

.swiper-slide {
    padding: 20px 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
}

.recipe {
    display: flex;
    justify-content: space-evenly;
    letter-spacing: -0.01em;
}

.recipe li {
    text-align: center;
}

.recipe li:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    width: 260px;
    padding: 0 20px;
}

.recipe li img {
    padding: 0 10px;
    padding-left: 40px;
}

.recipe h3 {
    font-family: 'MuseumClassic';
    font-size: 30px;
    font-weight: normal;
}

.recipe p {
    font-size: 18px;
}

.time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time_box {
    display: flex;
    justify-content: space-evenly;
    width: 120px;
    height: 35px;
    background-color: #efc6a3;
    border-radius: 17.5px;
    font-size: 16px;
    align-items: center;
}

.time_box h5 {
    font-weight: 600;
    font-size: 16px;
}

.new_next {
    top: 50%;
    right: 18px;
}

.new_prev {
    top: 50%;
    left: 18px;
}


.new_next::after {
    content: url(../image/new_recipe_next.png);
}

.new_prev::after {
    content: url(../image/new_recipe_next.png);
    transform: scaleX(-1);
}

/*category*/

.deco_wrap {
    padding: 100px 0;
}

.deco_line {
    overflow: hidden;
}

.category_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
}

.food_category {
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.food_category li p {
    font-size: 30px;
    letter-spacing: -0.05em;
    padding: 20px;
    font-weight: 500;
}

.food_category li img {
    border-radius: 50%;
    padding: 8px;
    transition: all 0.3s;
}

.food_category li:hover img {
    filter: drop-shadow(3px 5px 10px rgb(137, 20, 59, 0.7));
}


/*banner*/
#banner {
    width: 1320px;
    margin: 0 auto;
    padding: 100px 0;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.banner_deco2 {
    transform: scaleY(-1);
}

.tab {
    display: flex;
    padding: 10px 0;
}

.tabs {
    border-radius: 30px 0 0 30px;
    overflow: hidden;
}

.tabs li:first-child span {
    background: url(../image/recipe_banner1_bg1.png) no-repeat center top;
}

.tabs li:last-child span {
    background: url(../image/recipe_banner2_bg1.png) no-repeat center bottom;
}

.tabs li span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 250px;
    cursor: pointer;
    font-size: 36px;
    letter-spacing: -0.05em;
    line-height: 2;
    background-color: #dccdb4;
    box-sizing: border-box;
    color: #fff;
}

.tab_content {
    width: 660px;
    height: 500px;
    padding: 100px 0;
    box-sizing: border-box;
    border-radius: 0 30px 30px 0;
    background-color: #dccdb4;
    letter-spacing: -0.05em;
    color: #fff;
}

.tab_content h3,
.tab_content h2 {
    width: 100%;
    font-family: 'MuseumClassic';
    font-size: 45px;
    font-weight: 500;
}

.tab_content h3 {
    font-weight: 200;
    padding-bottom: 20px;
}

.tab_content p {
    width: 100%;
    font-size: 28px;
    font-weight: 500;
    padding: 100px 0;
}

#tab1 {
    background: url(../image/recipe_banner1_bg2.png) no-repeat center top;
}

#tab2 {
    background: url(../image/recipe_banner2_bg2.png) no-repeat center top;
}

/*클릭한 버튼에 들어갈 스타일은 active라는 클래스를 활용한다.*/
.active span {
    font-weight: bold;
}

/*my_recipe*/
#my_recipe {
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    padding-bottom: 150px;
    position: relative;
}

#my_recipe h1 {
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 0.05em;
    color: #89143b;
    text-transform: uppercase;
}

#my_recipe h2 {
    width: 1320px;
    margin: 0 auto;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-decoration: underline;
    color: #89143b;
    text-align: right;
    cursor: pointer;
}

.flows {
    width: 100%;
    padding: 100px 0;
    overflow: hidden;
}

.flows_inner {
    width: 3700px;
    display: flex;
    justify-content: space-around;
    animation: img_flows 15s linear infinite;
}

.flows_inner:hover {
    animation-play-state: paused;
}

.flowings {
    width: 1850px;
    display: flex;
    justify-content: space-between;
}

@keyframes img_flows {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -1850px;
        /*slide_inner의 ul길이와 동일하게 - 설정합니다!*/
    }
}

.flowings li {
    width: 250px;
    margin: 0 20px;
    border: 1px solid #484248;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

.flowings li:hover {
    cursor: pointer;
}

.flowings li:hover .more {
    text-decoration: underline;
}

.reviews {
    padding: 20px 10px;
    letter-spacing: -0.05em;
    text-align: left;
}

.reviews h5 {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0;
}

.reviews h3 {
    font-family: 'MuseumClassic';
    font-size: 18px;
    font-weight: 500;
    padding: 5px 0;
}

.reviews p {
    font-size: 14px;
    line-height: 1.5;
    padding: 5px 0;
}

.more {
    text-align: right;
    font-size: 14px;
    font-weight: 600;
}

.footer_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}









/*footer*/
#footer {
    background: url(../image/footer_bg2.png) no-repeat top left;
}

.footer_inner {
    width: 1320px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    letter-spacing: -0.005em;
    font-size: 16px;
}

.footer_left {
    display: flex;
    position: relative;
}

.footer_left h1 {
    position: absolute;
    top: 0;
    left: 0;
}

.footer_left dl {
    text-align: center;
    padding: 20px 10px;
    padding-top: 100px;
}

.footer_left dl dt {
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
}

.footer_left dl dd {
    padding: 5px;
}

.footer_right {
    display: flex;
    align-items: center;
}

.footer_right li {
    padding: 5px;
}

.footer_right li a:hover {
    text-decoration: underline;
}

/*top_btn*/
.top_btn a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dccdb4;
    border-radius: 10px;
    box-shadow: 0px 0px 12px#5c544b;
    position: fixed;
    right: 100px;
    bottom: 150px;
}